<div class="container mt-4">
  <div class="card">
    <div class="card-header text-center">
      Nuevo mirador
    </div>

    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="enviar()">

        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input class="form-control" formControlName="nombre">
        </div>

        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea
            class="form-control"
            rows="3"
            formControlName="descripcion">
          </textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Latitud</label>
          <input
            type="number"
            step="any"
            class="form-control"
            formControlName="latitud">
        </div>

        <div class="mb-3">
          <label class="form-label">Longitud</label>
          <input
            type="number"
            step="any"
            class="form-control"
            formControlName="longitud">
        </div>

        <div class="mb-3">
          <label class="form-label">Provincia (ID)</label>
          <input
            type="number"
            class="form-control"
            formControlName="provincia_id">
        </div>

        <div class="mb-3">
          <label class="form-label">Provincia</label>
          <select class="form-select" formControlName="comunidad_id">
            <option value="0">-- Selecciona una comunidad --</option>
            @for (p of provincias(); track p.id) {
              <option [value]="p.id">{{ p.nombre }}</option>
            }
          </select>
        </div>

        <div class="text-center">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="formulario.invalid">
            Crear mirador
          </button>
        </div>

      </form>

      <!-- Mensaje de resultado -->
      @if (mensaje()) {
        <div class="alert alert-info mt-3 text-center">
          {{ mensaje() }}
        </div>
      }
    </div>
  </div>
</div>
